a.btn-services {
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: var(--main-dark);
    transition: all 0.2s ease-in-out;
}

a.btn-services:hover {
    text-decoration: underline;
}