:root {
    --main-color:   #8B85C1;
    --main-light:   #A7A5C6;
    --main-dark:    #414066;
    --clear:        #FCFCFC;
    --dark:         #2D2D2D;
    --white:        #FFFFFF;
    --black:        #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
    color: var(--dark);
    /* font-size: calc(62.5%*2.1); */
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 0;
    /* font-size: calc(1rem*4.2); */
}

.container {
    width: 80%;
    margin: auto;
}

/* COLORS (TEXT) */

.text-main {
    color: var(--main-color);
}

.text-main-light {
    color: var(--main-light);
}

.text-main-dark {
    color: var(--main-dark);
}

.text-clear {
    color: var(--clear);
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}

/* COLORS (BACKGROUDN) */

.bg-main {
    background-color: var(--main-color);
}

.bg-clear {
    background-color: var(--clear);
}

/* TEXT */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/* SPACING PROPERTIES */

.padding-y-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padding-y-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-y-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* SECTIONS */

#introduction, #habilities, #portfolio, #contact {
    min-height: 50vh;
}

/* GRID SYSTEM */

.col-md-1 {
    width: calc(100%/12*1);
}

.col-md-2 {
    width: calc(100%/12*2);
}

.col-md-3 {
    width: calc(100%/12*3);
}

.col-md-4 {
    width: calc(100%/12*4);
}

.col-md-5 {
    width: calc(100%/12*5);
}

.col-md-6 {
    width: calc(100%/12*6);
}

.col-md-7 {
    width: calc(100%/12*7);
}

.col-md-8 {
    width: calc(100%/12*8);
}

.col-md-9 {
    width: calc(100%/12*9);
}

.col-md-10 {
    width: calc(100%/12*10);
}

.col-md-11 {
    width: calc(100%/12*11);
}

.col-md-12 {
    width: calc(100%/12*12);
}

.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: -8rem;
}

.services-item {
    padding: 1rem;
    /* flex-shrink: 0; */
    flex-basis: inherit;
    width: 12rem;
    height: 12rem;
    margin: 1rem;
    background-color: #e2e1f4;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.services-item:hover {
    box-shadow: 6px 6px 0px var(--main-dark);
}

.services-item:active {
    box-shadow: 3px 3px 0px var(--main-dark);
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
}

.portfolio-item {
    flex-shrink: 0;
    flex-basis: inherit;
    width: calc(1366px/5);
    height: calc(768px/5);
    margin: 16px;
    background-color: #F7F7F7;
    box-shadow: -6px -6px 16px var(--white), 6px 6px 16px #E0E0E0;
    border-radius: .5rem;
    transition: all 0.2s ease-in-out;
}

.portfolio-item:hover {
    box-shadow: -4px -4px 6px var(--white), 4px 4px 6px #E0E0E0;
}

.portfolio-item:active {
    box-shadow: inset 2px 2px 5px #E0E0E0, inset -2px -2px 5px var(--white);
}

textarea {
    background: #ececec;
    border: 0;
    width: calc(1366px/5);
    height: calc(768px/5);
    /* padding: 1rem; */
    resize: none;
    /* font: inherit; */
    color: var(--main-dark);
    border-radius: 0.5rem;
}

/* Phone */
@media (min-width: 576px) {  }

/* Tablet */
@media (min-width: 768px) { }

/* Desktop */
@media (min-width: 992px) {  }

/* Large desktop */
@media (min-width: 1200px) {  }
