:root {
    /* SOLID COLORS */
    --main-color:   #8B85C1;
    --main-light:   #A7A5C6;
    --main-dark:    #414066;
    --main-bg:      #ECECEC;
}

/* html, body, .container {
    min-height: 100vh;
} */

body {
    font-family: 'Poppins', sans-serif;
}

a, h1, h2, h3, h4, h5, h6 {
    color: var(--main-color);
}